/node_modules
/public/storage
/public/hot
/public/fonts/*
/public/mix-manifest.json
/public/css/*.css
/public/js/*.js
/public/doxygen/*
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
*.sw*
composer-setup.php
package-lock.json
composer.phar
composer.lock
.phpunit.result.cache
/tests/_output
/tests/_support/_generated
/tests/coveralls
.coveralls.yml
/build
