/node_modules
/public/storage
/public/hot
/public/fonts/*
/public/mix-manifest.json
/storage/*.key
/vendor
/resources/assets/js/*
/resources/assets/sass/*
/.idea
Homestead.json
Homestead.yaml
.env
*.sw*
webpack.mix.js
*.js
*.css
