# LARAVEL_MAXMIND_COUNTRY_LICENSE_KEY=false|<A LICENSE KEY ASSOCIATED WITH YOUR ACCOUNT>|<ABSOLUTE PATH TO country.mmdb FILE ON HOST>
LARAVEL_MAXMIND_COUNTRY_LICENSE_KEY=false

# LARAVEL_MAXMIND_ASN_LICENSE_KEY=false|<A LICENSE KEY ASSOCIATED WITH YOUR ACCOUNT>|<ABSOLUTE PATH TO asn.mmdb FILE ON HOST>
LARAVEL_MAXMIND_ASN_LICENSE_KEY=false

# LARAVEL_MAXMIND_CITY_LICENSE_KEY=false|<A LICENSE KEY ASSOCIATED WITH YOUR ACCOUNT>|<ABSOLUTE PATH TO city.mmdb FILE ON HOST>
LARAVEL_MAXMIND_CITY_LICENSE_KEY=false
