$body-bg: #ebebeb;
$font-family-base: Roboto;
$font-size-base: 0.95rem;

$primary: #d32f2f;

$card-border-width: 0;
$card-inner-border-radius: 5px;
$card-cap-bg: #fff;
$card-bg: #fafafa;

$table-hover-bg: #f5f8fc;

$input-box-shadow: 0;
$input-btn-focus-box-shadow: 0;

$tooltip-max-width: 500px;

