@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
  font-family: 'Laravel Survey Glyphicons Halflings';
  src: url(/laravel/fonts/glyphicons-halflings-regular.eot?f4769f9bdb7466be65088239c12046d1);
  src: url(/laravel/fonts/glyphicons-halflings-regular.eot?f4769f9bdb7466be65088239c12046d1) format("embedded-opentype"),
       url(/laravel/fonts/glyphicons-halflings-regular.woff2?448c34a56d699c29117adc64c43affeb) format("woff2"),
       url(/laravel/fonts/glyphicons-halflings-regular.woff?fa2772327f55d8198301fdb8bcfc8158) format("woff"),
       url(/laravel/fonts/glyphicons-halflings-regular.ttf?e18bbf611f2a2e43afc071aa2f4e1512) format("truetype"),
       url(/laravel/fonts/glyphicons-halflings-regular.svg?89889688147bd7575d6327160d64e760) format("svg")
 }

@keyframes animation-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.survey-errors {
  margin-top: 20px;
}

.navbar > .container-fluid,
.panel > .panel-footer > div:nth-child(1)
{
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.div-body > .container {
  max-width: 1024px;
}

.div-body {
  width: 100%;
  margin: 0 auto 40px auto;
  overflow: auto;
}

.navbar {
  margin-bottom: 0;
  width: 100%;
}

.glyphicon {
  font-family: 'Laravel Survey Glyphicons Halflings' !important;
}

*:not(.glyphicon) {
  font-family: 'courier new', monospace, courier !important;
}

.btn-link:hover, .btn-link:active {
  text-decoration: none !important;
}

.alert {
  margin-top: 20px;
}

.panel {
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.no-padding-left {
  padding-left: 0px !important;
}

[readonly] {
  background-color: inherit !important;
}

.shareable-link {
  line-height: 30px;
}

.text-ellipsis {
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.stats-version-container {
  margin-top: 20px;
}

.stats-container {
  padding: 20px;
}

.d3-axis path, .d3-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.d3-path {
  fill: none;
  stroke-width: 2px;
}

.svg-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.html-clickable, .svg-clickable {
  cursor: pointer;
}

.lar-overflow {
  overflow: auto;
}

.animation-spin {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: animation-spin;
  animation-duration: 1s;
}

@media (max-width: 399px) {
  html:after {
    content: "The device must be at least 400px wide.";
    font-size: 24px;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    color: red;
  }
  body {
    display: none;
  }
}

