@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

* {
  font-family: 'courier new', monospace, courier !important;
}

.btn-link:hover, .btn-link:active {
  text-decoration: none !important;
}

.panel {
  margin-top: 50px;
}

.no-padding-left {
  padding-left: 0px !important;
}

[readonly] {
  background-color: inherit !important;
}

.shareable-link {
  line-height: 30px;
}

.text-ellipsis {
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.stats-version-container {
  margin-top: 20px;
}

.stats-container {
  padding: 20px;
}


.d3-axis path, .d3-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.svg-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-clickable {
  cursor: pointer;
}
