@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

* {
  font-family: courier !important;
}

.btn-link:hover, .btn-link:active {
  text-decoration: none !important;
}

.panel {
  margin-top: 50px;
}

.no-padding-left {
  padding-left: 0px !important;
}

[readonly] {
  background-color: inherit !important;
}

.shareable-link {
  line-height: 30px;
}

.text-ellipsis {
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}