@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
  font-family: 'Laravel Survey Glyphicons Halflings';
  src: url(/laravel/fonts/glyphicons-halflings-regular.eot?f4769f9bdb7466be65088239c12046d1);
  src: url(/laravel/fonts/glyphicons-halflings-regular.eot?f4769f9bdb7466be65088239c12046d1) format("embedded-opentype"),
       url(/laravel/fonts/glyphicons-halflings-regular.woff2?448c34a56d699c29117adc64c43affeb) format("woff2"),
       url(/laravel/fonts/glyphicons-halflings-regular.woff?fa2772327f55d8198301fdb8bcfc8158) format("woff"),
       url(/laravel/fonts/glyphicons-halflings-regular.ttf?e18bbf611f2a2e43afc071aa2f4e1512) format("truetype"),
       url(/laravel/fonts/glyphicons-halflings-regular.svg?89889688147bd7575d6327160d64e760) format("svg")
 }

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  margin-bottom: 0;
  position: absolute;
  width: 100%;
}

.container {
  overflow: auto;
  margin: 50px 0 40px 0;
}

.glyphicon {
  font-family: 'Laravel Survey Glyphicons Halflings' !important;
}

*:not(.glyphicon) {
  font-family: 'courier new', monospace, courier !important;
}

.btn-link:hover, .btn-link:active {
  text-decoration: none !important;
}

.panel {
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.no-padding-left {
  padding-left: 0px !important;
}

[readonly] {
  background-color: inherit !important;
}

.shareable-link {
  line-height: 30px;
}

.text-ellipsis {
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.stats-version-container {
  margin-top: 20px;
}

.stats-container {
  padding: 20px;
}

.d3-axis path, .d3-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.d3-path {
  fill: none;
  stroke-width: 2px;
}

.svg-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.html-clickable, .svg-clickable {
  cursor: pointer;
}

.lar-overflow {
  overflow: auto;
}

@keyframes animation-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.animation-spin {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: animation-spin;
  animation-duration: 1s;
}
